# AWS Configuration
region            = "eu-west-2"
dns_zone_name_ext = "jose-merchan.sbx.hashidemos.io"

# Network Configuration
vpc_cidr    = "10.0.0.0/16"
subnet_cidr = "10.0.1.0/24"

# SSH Key Pair (create this in AWS first)
key_pair_name = "my-key-pair"

# Vault Server Configuration
vault_server = {
  name           = "vault-server-prod"
  instance_type  = "t3.xlarge"
  environment    = "production"
  application    = "vault-server"
  license_key    = "license_key"
  volume_size    = 20
  custom_message = "Welcome to Production Vault Server - HashiCorp Vault Service"
  vault_version  = "1.20.4+ent"
  additional_tags = {
    Backup     = "daily"
    Owner      = "team-security"
    Project    = "vault-infrastructure"
    CostCenter = "security"
    Role       = "vaultserver"
  }
}

# Nomad server
nomad_server = {
  name           = "nomad-server-prod"
  instance_type  = "t3.xlarge"
  environment    = "production"
  application    = "nomad-server"
  nomad_version  = "1.10.5+ent"
  datacenter     = "dc1"
  license_key    = "license_key"
  volume_size    = 30
  custom_message = "Welcome to Production Nomad Server - HashiCorp Nomad Service"
  additional_tags = {
    Backup     = "hourly"
    CostCenter = "engineering"
    Owner      = "team-infrastructure"
    Project    = "nomad-infrastructure"
    Role       = "nomadserver"
  }
}

owner_email = "jose.merchan@hashicorp.com"
